body {
  font-family: 'Arial', sans-serif;
  color: #003366;
  margin: 0;
  padding: 0;
}


/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #003366;
  color: white;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-size: 1.5vw;
}



.navbar img {
  width: 70px;
}

.nav-links {
  display: flex;
  gap: 15px;
  padding: 2%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.nav-links a:hover {
  color: #40E0D0;
}

/* MENU ICON */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 20px auto;
            text-decoration: none;
        }
        .search-box input {
            padding: 8px;
            width: 250px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }
        .add-btn {
            padding: 10px 15px;
            background-color: #40E0D0;
            color: #003366;
            font-weight: bold;
            text-decoration: none;
            border-radius: 8px;
        }
        .add-btn:hover {
            background-color: #90EE90;
        }
        table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
        }
        th {
            background-color: #003366;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        /*BOTONES PARA ACTUALIZAR Y ELIMINAR*/
        .action-btn {
    display: inline-block;
    margin: 0 5px;
    padding: 8px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.edit {
    background-color: #40E0D0; /* Turquesa */
}

.edit:hover {
    background-color: #90EE90; /* Verde claro */
}

.delete {
    background-color: #4B0082; /* Indigo */
}

.delete:hover {
    background-color: #003366; /* Azul oscuro */
}

td:last-child {
    text-align: center;
}
    
/*BOTON PARA REGRESAR*/
.btn-back {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: #ddd;
}

.regresar a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #7E4CCB;
  font-weight: bold;
  font-size: 16px;
}

.regresar a:hover {
  color: #5B33A3;
}
/* FOOTER */
footer {
  margin-top: 40px;
  text-align: center;
  padding: 15px;
  background-color: #003366;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #003366;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    color: white;
  }
}
